.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "header header" "sidebar main" "footer footer";
    gap:10px;
}
header {
    grid-area: header;
    background-color: rgb(91, 91, 108);
    padding:20px;
}
aside {
    grid-area: sidebar;
    background-color: rgb(175, 180, 191);
    padding: 20px;
}
main {
    grid-area: main;
    background-color: rgb(146, 146, 145);
    padding: 20px;
}
footer {
    grid-area: footer;
    background-color: rgb(91, 91, 108);
    padding: 20px;
}
